<div class="breadCrumb">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><span class="fa fa-chevron-right"></span></li>
    <li class="articleTitle-1">Article</li>
  </ul>
</div><!-- end .breadCrumb -->


<section class="article">

  <div class="title title-6">
    <h2></h2>
    <p class="postAuthor">By Mark Lambda <span>8:50 Am ET</span></p>
  </div>


  <article class="post">

    <aside class="postImg">
      <p>Image</p>
    </aside>

    <div class="partial partial-6">
      <p></p>
    </div>
  </article>

</section><!-- end .article -->
<script type="text/javascript">
// get and render JSON Data
$.getJSON("data/data.json", function(partials){

  // grab data for partials rendering
  var partialsData = partials.response.docs;

  // ------------- partials 2
  // partials article-2 title and context
  $(".title-6").children()[0].innerHTML =  partialsData[5].headline.main;
  $(".partial-6").children()[0].innerHTML =  partialsData[5].lead_paragraph;

});
</script>
